<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Quiz</title>
  <!-- Include the Tailwind CSS stylesheet -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-300 dark:bg-slate-800 h-screen flex items-center justify-center">

  <div class="max-w-md dark:bg-gray-200 bg-gray-200 p-8 rounded-md shadow-md">
    <h1 class="text-3xl font-semibold mb-4 text-center">Welcome to the Online Quiz!</h1>

    <form action="/start_quiz" method="post">
      <div class="grid dark:bg-slate-200 grid-cols-1 gap-4">
        <!-- Quiz Buttons -->
        {% for category in categories %}
                        

        <button class="border-2  border-black dark:text-white bg-gradient-to-r from-indigo-500 to-blue-400  text-white font-bold py-2 px-4 rounded-3xl focus:outline-none focus:shadow-outline-blue" id="btn" name="button_value" type="submit" value="{{category}}">{{category}}</button>

    

    {% endfor %}
      </div>
    </form>
  </div>

</body>

</html>
